# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables
.env*
secrets.json

# Web related
.web_assets/

# macOS related
.DS_Store
.apple_desktop
.apple_double
.LSOverride
Icon?
._*

# Windows related
Thumbs.db
ehthumbs.db
Desktop.ini

# Android related
/android/key.properties
/android/local.properties
/android/*.keystore
/android/*.jks
/android/app/google-services.json
*.apk
*.aab

# iOS related
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GoogleService-Info.plist
/ios/Pods/
/ios/.bundle/

lib/config/supabase_config.dart
